{
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["**/*.yml", "**/*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
